[submodule "AVRClock"]
	path = AVRClock
	url = git@github.com:LuTri/AVRClock.git
[submodule "RProgram"]
	path = RProgram
	url = git@github.com:LuTri/RProgram.git
[submodule "OdroidUart"]
	path = OdroidUart
	url = git@github.com:LuTri/OdroidUart.git
